a {
    text-decoration: none;
    color: black;
}

li {
    list-style-type: none;
}

h3 {
    float: left;
    padding-left: 100px;
    padding-top: 1px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px;
}

header {
    height: 2px;
    padding-bottom: 50px;
    position: relative;
}

button {
    width: 100px; 
    margin: 0 auto; 
    display: block;
  }

.name {
    float: left;
    padding-left: 100px;
    font-family: Arial, Helvetica, sans-serif;
}

#tagline {
    text-align: center;
    padding-top: 100px;
}

#about {
    font-size: 25px;
    text-align: center;
    padding-top: 150px;
}

