button {
    background-color: rebeccapurple;
    border-radius: 5px;
    border: none;
    color: white;
    transition: 1.5s;
}

button:hover {
    transform: scale(1.3);
    cursor: pointer;
}

a {
    color: black;
}

h3:hover {
    text-decoration: underline;
}

li {
    list-style-type: none;
}

h3 {
    float: left;
    margin-left: 100px;
    margin-top: 21px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: black;
}

h4{
    margin-top: 70px;
    margin-left: 20px;
}

h5 {
    margin-bottom: 70px;
    margin-left: 20px;
}

header {
    height: 2px;
    margin-bottom: 50px;
    position: relative;
}

body {
    background-color: white;
}

ul {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color:white;
    box-shadow: black 1px 2px 8px;
    margin: 0;
}

/*ID's*/

#social {
    height: 40px;
    width: 40px;
    float: right;
    position: sticky;
    bottom: 0;
}

#future {
    text-align: center;
    margin-top: 6em;
}

#tagline {
    text-align: center;
    margin-top: 100px;
    color: black;
}

#about {
    font-size: 25px;
    text-align: center;
    margin-top: 150px;
}

#copyright {
    font-size: 12px;
    margin-top: 30em;
    color: black;
    position: fixed;
    bottom: 0;
}

#ti {
 	text-align: center;
    margin-top: 135px;
    font-size: 30px;
    color: black;
}

#kk {
	font-size: 40px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	text-align: left;
	margin-left: 40px;
    margin-top: 5em;
}

#kk-sub-header {
	text-align: left;
	margin-left: 6em;
	font-size: 20px;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.about-img {
    width: 325px;
    height: 275px;
    z-index: -1;
}

#social {
    margin-top: 25em;
    position: relative;
    bottom: 0;
}

#product {
    display: block;
    width: 200px;
    height: 200px;
    z-index: -1;
    margin-right: 135px;
    margin-top: 70px;
}

#product-head {
    text-align: center;
    margin-top: 100px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 45px;
}

#cart-header {
     text-align: center;
     margin-top: 5em;
 }

#cart-title {
     margin-left: 20em;
 }

#checkout {
    text-align: center;
    margin-top: 50px;
}

#checkout-form {
    width: 50%;
    margin-left: 40%;
    margin-top: 10%;

}

#s16 {
    font-size: 70px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 2em;
}

#s16-sub-header {
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}

#s16-price {
    text-align: center;
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#s32 {
    font-size: 70px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 3.3em;
}

#s32-sub-header {
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}

#s32-price {
    text-align: center;
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#s64 {
    font-size: 70px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 3.3em;
}

#s64-sub-header {
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}

#s64-price {
    text-align: center;
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#s128 {
    font-size: 70px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 3.3em;
}

#s128-sub-header {
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}

#s128-price {
    text-align: center;
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#mh-1 {
    text-align: center;
    font-size: 70px;
    margin-top: 3.3em;
    font-family: Arial, Helvetica, sans-serif;
}

#mh-1-sub-header {
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}

#mh-1-price {
    text-align: center;
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#t16 {
    font-size: 70px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 3.3em;
}

#t16-sub-header {
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}

#t16-price {
    text-align: center;
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#t32 {
    font-size: 70px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 3.3em;
}

#t32-sub-header {
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}

#t32-price {
    text-align: center;
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#bitface {
    font-size: 70px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 3.3em;
}

#bitface-sub-header{
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}

#bitface-price {
    text-align: center;
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

#thank-you {
    text-align: center;
    margin-top: 3em;
}

#about-content {
    font-size: 25px;
    color: black;
    text-align: left;
    text-decoration: none;
}

#future-sub-header {
	text-align: center;
}

/* Cart Styles */

#your-cart {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: left;
    margin-top: 5em;
    margin-left: 2em;
}

#product-select {
    font-size: 25px;
    margin-left: 10em;
    margin-top: 5em;
    display: inline-block;
    border-bottom: 0.7px solid black;
}

#quantity {
    font-size: 25px;
    margin-left: 10em;
    margin-top: 5em;
    display: inline-block;
    border-bottom: 0.7px solid black;
}

#price {
    font-size: 25px;
    margin-left: 10em;
    margin-top: 5em;
    display: inline-block;
    border-bottom: 0.7px solid black;
}

#total {
    font-size: 25px;
    margin-left: 10em;
    margin-top: 5em;
    display: inline-block;
    border-bottom: 0.7px solid black;
}
.paired {
    margin-left: 7em;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
/*Classes*/

.add-to-cart {
     position: absolute;
     background-color: darkgray;
     transition: all 0.3 ease-in-out;
     cursor: pointer;
     text-align: center;
 }

.page-header {
     text-align: center;
     margin-top: 100px;
     font-size: x-large;
 }

.page-sub-header {
    text-align: center;
    margin-top: 50px;
    font-size: x-large;
}

.name {
    float: left;
    margin-left: 100px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

.goal {
    text-align: left;
    font-size: 20px;
	margin-top: 2em;
	margin-left: 8em;
}


